
html { height: 100%; width: 100%; }
body, header { height: 100%; width: 100%; display: flex; }
body > div { flex: 1; }

  .jumbotron {
    color: white;
    background-image: url(columbia\ library\ photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .text-right {
      top: 30%; 
      position: absolute; 
      right: 5%; 
      max-width: 45%; 
  }

  .navbar {
    background-color:rgb(47,98,162);
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

.highlight {
    display: inline;
    background: rgb(47,98,162, 0.8);
    color: #fff;
    padding: 2px;
    word-wrap: break-word;
}
.highlight-shadow {
    position: relative;
    left: 10px;
    padding-left: 0;
    box-shadow: 10px 0 0 rgb(47,98,162, 0.8), -10px 0 0 rgb(47,98,162, 0.8);
}