
  .navbar {
    background-color:rgb(47,98,162);
}

.top-nav-collapse {
    background-color: #4285F4;
}

.highlight {
    display: inline;
    background: rgb(47,98,162, 0.8);
    color: #fff;
    padding: 2px;
    word-wrap: break-word;
}

.highlight-shadow {
    position: relative;
    left: 10px;
    padding-left: 0;
    box-shadow: 10px 0 0 rgb(47,98,162, 0.8), -10px 0 0 rgb(47,98,162, 0.8);
}

.jumbotron {
    margin-bottom: 0px;
  }
  
  /* Override default bootstrap styles */
  .navbar-fixed-top {
    padding:0px;
    margin:0px;
  }

  .jumbotron {
    color: white;
    background-image: url(columbia\ library\ photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw; 
  }
  

  .text-right {
      top: 27%; 
      position: absolute; 
      right: 5%; 
      max-width: 45%; 
  }

  .bg-white {
      margin-left: 5%;
      margin-right: 5%;  
      
  }

  .container-fluid {
      align-items: center;
  }


  .display-4 {
      color: rgb(47,98,162); 
  }

